<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改作业/新增')" />
    <th:block th:include="include :: datetimepicker-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-homework-edit" th:object="${homework}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">作业名：</label>
                <div class="col-sm-8">
                    <input name="name" th:field="*{name}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">负责人：</label>
                <div class="col-sm-8">
                    <input name="worker" th:field="*{worker}" class="form-control" type="text">下拉
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">审核人：</label>
                <div class="col-sm-8">
                    <input name="auditor" th:field="*{auditor}" class="form-control" type="text">下拉
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">课程：</label>
                <div class="col-sm-8">
                    <select th:field="*{className}">
                        <option th:each="option : ${classNameList}" th:value="${option.dictValue}" th:text="${option.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">类型：</label>
                <div class="col-sm-8">
                    <select th:field="*{type}">
                        <option th:each="option : ${typeList}" th:value="${option.dictValue}" th:text="${option.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">周期：</label>
                <div class="col-sm-8">
                    <select th:field="*{freq}">
                        <option th:each="option : ${freqList}" th:value="${option.dictValue}" th:text="${option.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">周期时间：</label>
                <div class="col-sm-8">
                    <input name="freqStr" th:field="*{freqStr}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">计划时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="planDate" th:value="${#dates.format(homework.planDate, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">计划用时：</label>
                <div class="col-sm-8">
                    <input name="planTime" th:field="*{planTime}" class="form-control" type="text">分钟
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">顺序：</label>
                <div class="col-sm-8">
                    <input name="displayOrder" th:field="*{displayOrder}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">优先级：</label>
                <div class="col-sm-8">
                    <select th:field="*{priority}">
                        <option th:each="option : ${priorityList}" th:value="${option.dictValue}" th:text="${option.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">提醒：</label>
                <div class="col-sm-8">
                    <select th:field="*{alert}">
                        <option th:each="option : ${yesnoList}" th:value="${option.dictValue}" th:text="${option.dictValue}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">提醒时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <input name="alertDate" th:value="${#dates.format(homework.alertDate, 'yyyy-MM-dd')}" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">创建人：</label>
                <div class="col-sm-8">
                    <input name="createUser" th:field="*{createUser}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">更新人：</label>
                <div class="col-sm-8">
                    <input name="updateUser" th:field="*{updateUser}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注：</label>
                <div class="col-sm-8">
                    <textarea name="remark" class="form-control">[[*{remark}]]</textarea>
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:inline="javascript">
        var prefix = ctx + "erp/homework";
        $("#form-homework-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-homework-edit').serialize());
            }
        }

        $("input[name='planDate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });

        $("input[name='alertDate']").datetimepicker({
            format: "yyyy-mm-dd",
            minView: "month",
            autoclose: true
        });
    </script>
</body>
</html>